.idea
avayaVPN.sh
bumpup
connect-to-bell.sh
connect-to-darwin.sh
minikube-docker.sh
.gitconfig-personal
start-bell.sh
start-sbc.sh
start-unblu.sh
chromedriver
pinServerCert.sh
fixCSV.py
*.pyc
aok-rdp.sh
connect-to-jumphost-*
.DS_Store
