[submodule ".SpaceVim"]
	path = .SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".zprezto-contrib/fzf-tab"]
	path = .zprezto-contrib/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".zprezto-contrib/history-search-multi-word"]
	path = .zprezto-contrib/history-search-multi-word
	url = git@github.com:zdharma/history-search-multi-word.git
